* {
  margin: 0%;
  padding: 0%;
}

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(-45deg, #ebe84a, #eb6518, rgb(219, 28, 28), #2825ee);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}