.quote {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
}

.author-name {
    font-family: 'Bitter', serif;
    font-size: 1.2rem;
    margin-top: 15px;
}

.t-button, .n-button {
    display: inline-block;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}
 
button{
    padding: 5px 3px 5px 3px;
    border-radius: 6px;
    color: white;
    background-color: rgba(0, 0, 0, 0.856);
    box-shadow: none;
    border: solid transparent;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}
